{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}

{% include 'FitnessArticle/CSS_JS.html' %}

{% endblock %}

{% block content %}
{% csrf_token %}

{% include 'FitnessArticle/index_category.html' %}
<div id="main-container" class="container clearfix">
    <section class="post-left">
        <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="{% url 'FitnessArticle:home' %}">首页</a> » <span
                class="current">标签:{{ tname }}</span></div>
        <div class="index-main clearfix">
            <div class="main-title">
                <h4 class="post-left-title">标签：{{ tname }}</h4>
            </div>
            <div class="row">
                {% for tag_article in tag_articles %}
                <div class="article-box clearfix excerpt-1">
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <a href="{% url 'FitnessArticle:home' %}show-{{ tag_article.id }}.html" title="{{ tag_article.title }}">
                                <img src="{% url 'base' %}media/{{ tag_article.picture }}"
                                     srcset="{% url 'base' %}media/{{ tag_article.picture }}"
                                     alt="{{ tag_article.title }}" class="wp-post-image" width="240" height="160"/></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h2><a href="{% url 'FitnessArticle:home'%}show-{{ tag_article.id }}.html" target="_blank"
                               title="{{ tag_article.title }}">{{ tag_article.title }}</a></h2>
                        <p class="txtcont hidden-xs"><a href="{% url 'FitnessArticle:home'%}show-{{ tag_article.id }}.html"
                            target="_blank" title="{{ tag_article.title }}">{{ tag_article.content|truncatechars_html:80|safe }}</a></p>
                        <div class="meta"><span class="label label-info"><a
                                href="{% url 'FitnessArticle:home' %}list-{{ tag_article.category_id }}.html">{{ tag_article.category.name }}</a></span>
                            <time class="item"><i
                                    class="fa fa-clock-o"></i>{{ tag_article.created_time|date:"Y年m月d日" }}
                            </time>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class="pagination">
                    <ul>
                        {% if lists.has_previous %}
                        <li class="prev-page"><a href="?page={{ lists.previous_page_number }}">上一页</a></li>
                        {% else %}
                        <li class="prev-page"></li>
                        {% endif %}

                            {% for num in lists.paginator.page_range %}
                                {% if num %}
                                    {% ifequal num lists.number %}
                                        <li class="active"><span>{{ num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ num }}">{{ num }}</a></li>
                                    {% endifequal %}
                                {% else %}
                                    <li class="disabled"><span>...</span></li>
                                {% endif %}
                            {% endfor %}

                            {% if lists.has_next %}
                                <li class="next-page"><a href="?page={{ lists.next_page_number }}">下一页</a></li>
                            {% else %}
                                <li class="prev-page"></li>
                            {% endif %}
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <aside class="post-right hidden-xs">
    {% include 'FitnessArticle/index_right.html' %}
    </aside>
</div>


{% endblock %}


