<!-- banner -->
<div class="main_section">
    <!-- banner slider -->
    <div class="slider">
        <ul class="rslides" id="slider">
            <li>
                <div class="w3ls-banner-image  w3ls-banner-image1">
                    <div class="layer">
                        <div class="banner-text">
                            <h3> 健身 </h3>
                            <p> 是一种生活态度 </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3ls-banner-image  w3ls-banner-image2">
                    <div class="layer">
                        <div class="banner-text">
                            <h3> 运动 </h3>
                            <p> 是一切生命的源泉 </p>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="w3ls-banner-image  w3ls-banner-image3">
                    <div class="layer">
                        <div class="banner-text">
                            <h3> 汗水 </h3>
                            <p> 是脂肪在哭泣！ </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
<!-- //Slider -->

<!-- about-->
<div class="about-top section">
    <div class="container">
        <div class="w3l-about-top-head">
            <div class="col-md-6 about-left text-center">
                <h5 class="main-title">健身理念</h5>
                <h6 class="txt">生命在于运动</h6>
                <p>yeah buddy light weight baby</p>
            </div>
            <div class="col-md-6 about-right">
                <h5>想着要赢得比赛不会给你力量，在锻炼中挣扎力量才会增长，当你克服困难不想放弃时，这就是力量。”——阿诺德·施瓦辛格</h5>
                <p>你的命运不是由你的天赋或是你的能力决定的，而是由你的选择决定了你最终的命运。你那就是你的选择。一直是到你能看着镜子中的自己然后诚实地说，“我可以选择，我现在能变成这样是因为我过去做的那些选择。</p>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->

<!-- about-bottom-grid -->
<div class="section about-bottomgrid">
    <div class="container">
        <div class="about-bot-grid-sec">
            <div class="about-middle-pos">
                <h2>Yeah Buddy</h2>
                <p>light weight baby</p>
            </div>
            <div class="about-section">
                <div class="col-md-4 col-sm-6  abg1">

                </div>
                <div class="col-md-8 col-sm-6 wthree-sec-about">
                    <h4 class="bot-grid1">健身到了一定境界，何需再看脸！</h4>
                    <p class="bot-gridtxt">Just do it </p>
                </div>
                <div class="clearfix"> </div>

            </div>
            <div class="col-md-8  col-sm-6 wthree-sec-about about-pos-btm">
                <h4 class="bot-grid-about">好身材只留给有毅力的人！</h4>
                <p>Just do it </p>
            </div>
            <div class="col-md-4 col-sm-6 abg2">
            </div>

            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about-bottom-grid-->

